// <vars-fonts> ================================================================================================
$font-general: "Montserrat", sans-serif;
$font-second: "", sans-serif;
$font-third: "", sans-serif;
$font-roboto: "Roboto", sans-serif;
$font-openSans: "Open Sans", sans-serif;
$font-ubuntu: "Ubuntu", sans-serif;
// <vars-width> ================================================================================================
$minWidth: 320;
$maxWidth: 1920;
$maxWidthContainer: 1140;
$xxl: 1399.98;
$xl: 1199.98;
$lg: 991.98;
$md: 767.98;
$sm: 575.98;
// <vars-colors> ================================================================================================
$gray1: #f1f2f3;
$gray2: #f8f9fa;
$blue: #1963ad;
$red: #bb2820;
// <vars-transition> ================================================================================================
$sec: 0.2s; 

