<!-- открыть можно по ссылке site.com/#callback -->
<a href="#callback" class="_popup-link">Открыть popup</a>

<div class="popup popup_callback">
    <div class="popup__content">
        <div class="popup__body">
            <div class="popup__close"></div>
            Содержимое
        </div>
    </div>
</div>


<!-- видео с ютюба -->
<a href="#video" data-video="OsF9H7yRnvU" class="_popup-link"></a>

<div class="popup popup_video">
    <div class="popup__content">
        <div class="popup__body">
            <div class="popup__close popup__close_video"></div>
            <div class="popup__video _video"></div>
        </div>
    </div>
</div>



<!-- ================================================================== -->

<div class="popup">
    <div class="popup__content">
        <div class="popup__body">
            <div class="popup__close"></div>
        </div>
    </div>
</div>

<div class="popup popup_video">
    <div class="popup__content">
        <div class="popup__body">
            <div class="popup__close popup__close_video"></div>
            <div class="popup__video _video"></div>
        </div>
    </div>
</div>