<div class="spoillers-block _spollers _one"><!-- ._one - споллер станет аккордионом -->

    <div class="spollers-block__item _spoller">
        <div class="spollers-block__title">Вопрос</div>
        <div class="spollers-block__body">Ответ</div>
    </div>
    
    <div class="spollers-block__item _spoller">
        <div class="spollers-block__title">Вопрос</div>
        <div class="spollers-block__body">Ответ</div>
    </div>

    <div class="spollers-block__item _spoller">
        <div class="spollers-block__title">Вопрос</div>
        <div class="spollers-block__body">Ответ</div>
    </div>

</div>