<div class="tabs-block _tabs">

    <nav class="tabs-block__nav">
        <div class="tabs-block__item _tabs-item _active">Таб 1</div>
        <div class="tabs-block__item _tabs-item">Таб 1</div>
        <div class="tabs-block__item _tabs-item">Таб 1</div>
    </nav>

    <div class="tabs-block__body">
        <div class="tabs-block__block _tabs-block _active">Содержимое 1</div>
        <div class="tabs-block__block _tabs-block">Содержимое 2</div>
        <div class="tabs-block__block _tabs-block">Содержимое 3</div>
    </div>

</div>